environment                = "aws-pre"
aws_region                 = "ap-northeast-1"
domain_name                = "stg.tableno.example"
hosted_zone_id             = "Z000000000000"
container_image            = "000000000000.dkr.ecr.ap-northeast-1.amazonaws.com/tableno:staging"
desired_count              = 1
enable_off_hours_schedule  = true
worker_desired_count       = 1
beat_desired_count         = 1
site_id                    = 1
allowed_hosts_override     = "*"
secure_ssl_redirect        = false
db_backup_retention_period = 7
db_backup_window           = "16:00-16:30"
enable_deletion_protection = true
monthly_budget_usd         = 100

extra_secret_names = [
  "GOOGLE_OAUTH_CLIENT_ID",
  "GOOGLE_OAUTH_CLIENT_SECRET",
  "TWITTER_CLIENT_ID",
  "TWITTER_CLIENT_SECRET",
  "TWITTER_REDIRECT_URI",
  "DISCORD_CLIENT_ID",
  "DISCORD_CLIENT_SECRET",
  "DISCORD_REDIRECT_URI",
]
