[Unit]
Description=Arkham Nexus Gunicorn Service
After=network.target

[Service]
Type=notify
User=www-data
Group=www-data
RuntimeDirectory=gunicorn
WorkingDirectory=/path/to/arkham_nexus
ExecStart=/path/to/venv/bin/gunicorn arkham_nexus.wsgi:application -c gunicorn.conf.py
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Environment="DJANGO_SETTINGS_MODULE=arkham_nexus.settings_production"
Environment="DJANGO_ENV=production"

[Install]
WantedBy=multi-user.target